@if (authService.isAuthenticated()) {
  <div class="top-shell">
    <p-menubar [model]="menuItems">
      <ng-template pTemplate="end">
        <div class="avatar-trigger" (click)="avatarMenu.toggle($event)">
          @if (usuarioAtual()?.fotoBase64) {
            <img [src]="usuarioAtual()?.fotoBase64" alt="Foto de perfil" class="avatar-foto" />
          } @else {
            <div class="avatar-placeholder">
              <i class="pi pi-user"></i>
            </div>
          }
        </div>
        <p-menu #avatarMenu [model]="avatarMenuItems" [popup]="true" [appendTo]="'body'" />
      </ng-template>
    </p-menubar>
  </div>
}
<main class="main-content">
  <router-outlet />
</main>
